.movie-poster {
  min-width: 270px;
  min-height: 370px;
  border-radius: 14px;
  position: relative;
  cursor: pointer;
}

.active-poster {
  border: 1.5px solid var(--accent-color);
}

.poster-image {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}
.poster-image img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 14px;
}

.poster-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 14px;
  background: linear-gradient(
    0deg,
    #08080a,
    rgb(8, 8, 10, 1) 10%,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent
  );
  z-index: 1;
}
.poster-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  left: 15px;
  bottom: 25px;
  z-index: 2;
}
