.main-section {
  width: 100%;
  padding: var(--global-padding);
  position: relative;
}

.main-section section:first-child {
  margin-top: 0;
}
.main-section section {
  margin-top: 30px;
}

.main-section-movie-list {
  display: flex;
  gap: 20px;
}
.main-section-movie-item {
  float: left;
  transition: transform 3.5s ease-in-out;
}

.half-visible_right {
  transform: translateX(0%);
}

.featured-movies-container {
  display: grid;
  grid-template-columns: 38% 60%; /* Two columns, each taking 50% of container width */
  grid-template-rows: 25% 75%; /* Two rows, each taking 50% of container height */
  gap: 10px; /* Adjust the gap between the divs as needed */
  max-height: 50%;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
  position: relative;
}

.featured-movies-section-info {
  grid-column: 1 / 2; /* Position in the first column */
  grid-row: 1 / 2; /* Position in the first row */

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.featured-movies-section-info h3 {
  font-size: var(--font-title-bg);
  font-weight: 700;
}
.featured-movies-section-info p {
  font-size: var(--font-bg);
  font-weight: 500;
}

.featured-title h1 {
  font-size: var(--font-title-lg);
  font-weight: 800;
}

.featured-title.smaller-title h1 {
  font-size: var(--font-title);
  font-weight: 600;
}

.featured-movies-details {
  grid-column: 1 / 2; /* Position in the first column */
  grid-row: 2 / 3; /* Position in the second row */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 10px; */
}

.featured-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.featured-label {
  font-weight: 500;
  height: fit-content;
  width: fit-content;
  border-radius: 30px;
  background-color: var(--dark-opac);
  padding: 5px 15px;
  z-index: 1;
}

.featured-label p {
  font-weight: 500;
}

.featured-btn {
  display: flex;
  gap: 20px;
}

.featured-movies-poster {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  margin-left: 40px;
  display: flex;
  gap: 15px;
  overflow: hidden;
  width: 100%;
}

/* Movie awards section */

.movie-awards-section {
  display: flex;
  gap: 50px;
  width: 100%;
  height: 100%;
}

.movie-on-award {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  height: 100%;
}

.fast-live {
  display: flex;
  width: 50%;
  gap: 50px;
}

.award-fast {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  overflow: hidden;
  margin-bottom: 9px;
}
.award-fast .card-title {
  word-wrap: break-word;
  /* font-size: 13px; */
  /* font-size: clamp(12px 4vw 15px); */
}

.award-live {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  overflow: hidden;
  margin-bottom: 9px;
}
