.genre-label {
  display: flex;
  align-items: center;
  font-size: var(--font-xsm);
  color: var(--gray);
  gap: 5px;
  /* padding-left: 5px; */
}

.genre-label span:last-child {
  white-space: nowrap;
}

.divider-genre {
  margin-left: 5px;
}
