.section {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.section-content {
  display: flex;
  position: relative;
  width: 100%;
}

/* .content-container {
  display: flex;
  overflow: hidden;
  position: relative;
} */
