.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 2em;
  align-items: center;
  height: 90px;
  width: 100%;
  padding: 20px var(--left-right-padding);
  background-color: transparent;
  position: absolute;
  z-index: 1;
}

.nav-links {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.nav-links_items {
  display: flex;
}

.nav-links_items li {
  font-size: 14px;
  font-weight: 300;
  padding: 0 25px;
  cursor: pointer;
}

.nav-links_items a:hover {
  color: var(--gray);
}

.nav-search-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.search-area {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  background: var(--black-dark);
  border: none;
  border-radius: 8px;
  height: 30px;
  width: 0;
  opacity: 0;
  padding: 0 5px;
  transition: opacity 0.9s ease, width 0.9s ease;
}

.search-input.reveal {
  opacity: 1;
  width: 200px;
}
.search-input:focus {
  outline: none;
  color: var(--white);
}

.search-icon {
  position: absolute;
  right: 8px;
  cursor: pointer;
}

.login-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notification {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 8px;
}
.user-profile span {
  display: flex;
  align-items: center;
  cursor: pointer;
}
