.section {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.section-title {
  margin-bottom: 30px;
}

.section-content {
  display: flex;
  /* justify-content: flex-start; */
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

/* .content-container {
  display: flex;
  overflow: hidden;
  position: relative;
} */
