.movie-page {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* background-color: antiquewhite; */
}

.movie-info-section {
  padding: 10px 70px;
}

.movie-page-section {
  width: 100%;
  padding: 0 var(--global-padding);
  position: relative;
}
.movie-engagement-btns {
  display: flex;
  position: absolute;
  gap: 20px;
  top: 520px;
  right: 70px;
  z-index: 1;
}

.movie-engagement-btns span {
  padding-top: 0;
}

.movie-engagement-btns .like svg:last-child {
  fill: #fff;
}

.movie-info-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.story-line {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.movie-info-section h4 {
  font-family: var(--title-font);
  font-size: var(--font-normal);
  font-weight: 500;
}

.story-line p {
  font-size: var(--font-sm);
  font-weight: 400;
  color: var(--gray);
}

.top-casts {
  overflow: hidden;
}

.top-casts ul {
  display: flex;
  gap: 20px;
}

.movie-cast {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  margin-top: 15px;
}

.cast-image {
  display: flex;
  width: 45px;
  height: 45px;
}
.cast-image img {
  width: 100%;
  /* height: 100%; */
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover; /* or 'contain' or specific dimensions */
  background-position: center center;
}

.cast-realname {
  font-family: var(--title-font);
  font-size: var(--font-xsm);
  font-weight: 400;
}
.cast-alias {
  font-size: var(--font-xxsm);
  color: var(--gray);
}

.movies-card-tabs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tab-items {
  display: flex;
  margin-bottom: 20px;
  z-index: 20;
}
.tab-items ul {
  display: flex;
  gap: 20px;
}

.tab {
  position: relative;
  color: var(--gray);
  cursor: pointer;
  padding-bottom: 10px;
}

.active-tab {
  color: var(--white);
}

.tab:hover {
  color: var(--white);
}
.active-tab::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--accent-color);
}

.tab-cards ul {
  display: flex;
  gap: 15px;
}
