* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--font-normal);
  font-weight: 400;
  line-height: 1.4;
  background: var(--black-darker);
  color: var(--white);
}

h1,
h2,
h3,
h4 {
  display: block;
  font-family: var(--title-font);
  font-size: var(--font-title);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 500;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
}

.container {
  width: 100%;
  height: 600px;
}

/* Slider left and right arrow buttons */

.btn_arrow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  /* right: 0; */
  /* background: linear-gradient(to right, rgba(13, 12, 15, 0.85)); */
  /* background-color: rgb(13, 12, 15, 0.765); */
  /* background-image: linear-gradient(
    to right,
    rgba(13, 12, 15, 0.85),
    rgba(13, 12, 15, 0.85)
  ); */
  width: 150px;
  height: 100%;
  background: linear-gradient(to left, rgba(13, 12, 15, 0.95), transparent);
  /* padding-top: 100px; */
}

.btn_arrow-overlay {
  background-color: rgb(13, 12, 15, 0.765);
}

.arrow_btn .arrow {
  /* top: 50%; */
  transform: translateY(-50%);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--black-dark);
  opacity: 1;
  font-size: 24px;
  color: inherit;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

.no-slide {
  position: absolute;
}

/* text reveal style */

.text-reveal_txt {
  /* display: flex; */
}

.read-more {
  color: var(--accent-color);
  cursor: pointer;
}
