.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide-container {
  display: flex;
  /* width: 100%; */
  /* height: 100%; */
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  /* transition: opacity 0.5s ease; */
  opacity: 0;
  position: relative;
}

.slide.active {
  opacity: 1;
}

/* .slide-img {
  background-position: "center";
  background-size: "cover";
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.slide-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.slide-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    358.93deg,
    #0d0c0f 0.83%,
    rgba(13, 12, 15, 0.85) 28.55%,
    rgba(13, 12, 15, 0) 48.81%,
    rgba(13, 12, 15, 0.284314) 70.66%,
    #0d0c0f 103.18%
  );
  z-index: 1;
}

/* Slider left and right arrow buttons */

.slider .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background: none; */
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--black-dark);
  opacity: 0.8;
  font-size: 24px;
  color: inherit;
  cursor: pointer;
  z-index: 2;
}

.slider button:first-child {
  left: var(--left-right-padding);
}

.slider button:last-child {
  right: 65px;
}

/* Slide text area */
.slide-text-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  position: absolute;
  left: 70px;
  bottom: 10%;
  width: 600px;
  height: auto;
  color: var(--white);
  z-index: 3;
}

.slide-movie-tag {
  width: fit-content;
  height: auto;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #0d0c0f;
  font-family: var(--title-font);
  font-size: var(--font-sm);
}

.slide-movie-title {
  font-family: var(--title-font);
}

.slide-movie-info {
  font-size: var(--font-xsm);
  color: var(--gray);
}

.slide-movie-desc {
  font-size: var(--font-md);
  font-weight: 300;
}

.slide-movie-buttons {
  display: flex;
  gap: 10px;
}

.slide-movie-buttons span {
  margin-right: 10px;
  padding-top: 5px;
}

.watchlist-icon {
  fill: #fff;
}
