.form-user {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max-content;
}

.form-logo p {
  font-size: var(--font-sm);
  color: var(--gray);
}

.form-inputs-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 7px;
}

.form-input label {
  font-family: var(--title-font);
  font-weight: 600;
}

.input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: var(--black-darker);
  border-style: none;
  border: 1px solid var(--black-dark);
  border-radius: 9px;
  color: var(--white);
  padding: 10px;
  transition: border 0.3s;

  &.focus {
    border: 1px solid var(--white);
  }
}

.fill-svg svg path {
  fill: var(--gray);
}

.hide-show-password {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 1;
}

.form-input-field {
  background: var(--black-darker);
  border-style: none;
  color: var(--white);
  width: 90%;
}
.form-input-field::placeholder {
  color: var(--black-dark);
}
.form-input-field:focus {
  outline: none;
  /* border: 1px solid var(--white); */
}

.forgot-password {
  cursor: pointer;
}

.password-mismatch {
  font-family: "Courier New", Courier, monospace;
  font-size: var(--font-xsm);
  color: var(--red-color);
  margin-top: -5px;
}

.form-btn-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.form-account {
  font-size: var(--font-sm);
  line-height: 1.5;
  color: var(--gray);
}

.form-account span {
  font-size: var(--font-sm);
  font-weight: 800;
  color: var(--white);
  cursor: pointer;
}
.form-account span:hover {
  color: var(--gray);
}

.form-terms-conditions {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  font-size: var(--font-sm);
  line-height: 1.5;
  color: var(--gray);
}

.form-terms-conditions span {
  font-weight: 800;
  color: var(--white);
  cursor: pointer;
}
.form-terms-conditions span:hover {
  color: var(--gray);
}

.form-terms-conditions .privacy input[type="checkbox"] {
  display: none;
}

.form-terms-conditions .privacy {
  position: relative;
}

.form-terms-conditions
  .privacy
  input[type="checkbox"]:checked
  + .privacy-check {
  background-color: var(
    --accent-color
  ); /* Background color inside the circle */
}

.form-terms-conditions
  .privacy
  input[type="checkbox"]:checked
  + .privacy-check::before {
  content: "\2713";
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.privacy {
  height: 25px;
  width: 25px;
}

.privacy-check {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid var(--black-dark);
  display: inline-block;
}

/* .form-close {
  height: inherit;
  width: max-content;
  background: var(--black-darker);
  border: 1px solid var(--black-dark);
  border-radius: 15px;
  padding: 12px 25px;
} */
